/* Reset */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Reusable */

.dreampire-logo {
  height: 20px;
}

.square {
  position: absolute;
  width: 95px;
  height: 95px;

  background: #185E9C;
  border-radius: 15px;
  transform: rotate(-18.62deg);
}

.square::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #185E9C;
  border-radius: 15px;
  transform: translate(-10px, -10px);
}

/* Navigation */

.navigation {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;

  position: relative;
}

.navigation__links {
  list-style-type: none;
  display: flex;
}

.navigation__links .navigation__link {
  margin: 0 2em;
  cursor: pointer;
}

.navigation__link, .navigation__phone p {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Lato';
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #333333;
  line-height: 24px;
}

.navigation__link--active {
  font-weight: 700;
  color: #185E9C;
  position: relative;
}

.navigation__link--active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #185E9C;
}

.navigation__link:hover {
  font-weight: 700;
}

.navigation__link:hover .navigation__drop {
  font-weight: 400;
}

.navigation__drop {
  position: relative;
}

.navigation__sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  z-index: 2;

  background: #FFFFFF;
  border: 1px solid #EAECF0;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 8px;

  grid-template-columns: 300px 1fr;
}

.navigation__drop--active .navigation__sub {
  display: grid;
}

.navigation__drop--active .navigation__chevron {
  transform: rotate(180deg);
}

.navigation__sale {
  padding: 10px 16px;
  display: grid;
  gap: 10px;
}

.navigation__sale-line {
  display: flex;
  padding: 26px 16px;
  border: 1px solid transparent;
}

.navigation__sale-line svg {
  flex-shrink: 0;
}

.navigation__sale-line img {
  max-height: 24px;
}

.navigation__sale-line:hover {
  background:rgba(249, 250, 251, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.navigation__text {
  margin-left: 1em;
}

.navigation__text h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
}

.navigation__text p {
  margin-top: 1em;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

.navigation__news {
  background: #F9FAFB;
  padding: 20px;
}

.navigation__news h3 {
  font-family: 'Lato', sans-serif;
  margin-top: 2em;
  font-weight: 700;
  font-size: 16px;
  color: #101828;
}

.navigation__news p {
  margin-top: 0.5em;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

.navigation__news a {
  display: block;
  margin-top: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #185E9C;
}

.navigation__frame {
  position: relative;
}

.navigation__frame span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #185E9C;
  background: white;
  border-radius: 8px;
  padding: 2px 10px;

  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navigation__frame img {
  border-radius: 8px;
}


.navigation__phone p {
  color: #185E9C;
  font-weight: 700;
}


.navigation__chevron {
  margin-left: 13px;
}

.navigation__phone {
  margin-left: 4em;
  display: flex;
  align-items: center;
}

.navigation__phone svg {
  margin-right: 24px;
  flex-shrink: 0;
}

.navigation__burger {
  display: none;
  position: absolute;
  right: 10px;
}

.burger {
  width: 24px;
  height: 16px;
  flex-direction: column;
  justify-content: space-between;
}

.burger--active {
  justify-content: center;
}
.burger--active .burger__segment:nth-child(1) {
  transform: rotate(45deg);
}
.burger--active .burger__segment:nth-child(3) {
  transform: rotate(-45deg);
}
.burger--active .burger__segment:nth-child(2) {
  display: none;
}

.burger__segment {
  width: 100%;
  height: 1px;
  background: black;
}

@media screen and (max-width: 1024px) {
  .navigation {
    justify-content: space-between;
  }

  .navigation__links {
    background: white;
    z-index: 10;
    position: absolute;
    left: 0;
    width: 100%;
    top: 80px;
    flex-direction: column;
    display: none;
  }

  .navigation__links.navigation__links--mobile-active {
    display: flex;
  }

  .navigation__links .navigation__link {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .navigation__phone {
    display: none;
  }

  .navigation__burger {
    display: flex;
  }

  .navigation__sub {
    position: static;
    box-shadow: none;
    border: none;
  }

  .navigation__sale {
    padding-left: 0;
    padding-right: 0;
  }

  .navigation__sale-line {
    padding-left: 0;
    padding-right: 0;
  }

  .navigation__news {
    display: none;
  }
}

/* Home */

.home {
  position: relative;
  background: #E0F2F0;

  padding-top: 2em;
  padding-bottom: 4em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.home__offer h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #0C0C0C;
}

.home__offer p {
  margin-top: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.home__offer button {
  margin-top: 48px;
  cursor: pointer;

  outline: none;
  border: none;

  color: white;
  background: #185E9C;
  border-radius: 4px;
  
  padding: 8px 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.home__truck-wrapper, .home__truck img {
  position: relative;
}

.home__square--left {
  bottom: 0;
}

.home__square--right {
  right: 0;
  transform: rotate(125.01deg);
}

.home__next {
  background: #185E9C;
  outline: none;
  border: none;
  border-radius: 100%;
  width: 54px;
  height: 54px;

  cursor: pointer;

  position: absolute;
  bottom: 0;
  right: 10%;
  transform: translateY(calc(50% + 4em));
}

@media screen and (max-width: 1024px) {
  .home {
    grid-template-columns: 1fr;
    padding: 2em 1em;
  }

  .home__truck {
    transform: scale(0.8);
  }

  .home__truck img {
    width: 100%;
  }

  .home__next {
    left: 50%;
    transform: translateX(-50%) translateY(calc(50% + 2em));;
  }
}

/* About */

.about {
  margin-top: 8em;
  margin-left: 4em;
  margin-right: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  align-items: center;
  justify-items: center;
}

.about__image {
  position: relative;
}

.about__image img {
  border-radius: 12px;
  position: relative;
}

.about__image::before {
  position: absolute;
  content: '';
  height: 100%;
  aspect-ratio: 1;

  left: -40px;
  border: 1px solid #185E9C;
  border-radius: 15px;
  transform: rotate(-18.62deg);
}

.about__content * {
  font-family: 'Lato', sans-serif;
}

.about__content h2 {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #185E9C;
  text-transform: uppercase;
  text-align: center;
}

.about__content h3 {
  margin-top: 0.5em;
  font-weight: 800;
  font-size: 24px;
  color: #0C0C0C;
  text-align: center;
}

.about__content p {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  margin-top: 1.2em;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
  }

  .about__image {
    margin-top: 2em;
    left: 50%;
    transform: translateX(-50%) scale(0.7);
  }
}

/* offer */

.offer {
  background: #185E9C;
  margin-top: 5em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2em;

  text-transform: uppercase;
  text-align: center;

  color: #FFFFFF;
}

.offer h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;

}

.offer__list {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.offer__block {
  background: #FFFFFF;

  border: 4px solid transparent;

  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.2em 1em;
}

.offer__block:hover {
  border: 4px solid #E0F2F0;
  box-shadow: 8px 10px 24px rgba(0, 0, 0, 0.2);
}

.offer__block span {
  display: block;
  margin-left: 24px;
  margin-right: 24px;

  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #0C0C0C;
}

.offer__truck {
  position: relative;
}

@media screen and (max-width: 768px) {
  .offer {
    padding-left: 1em;
    padding-right: 1em;
  }
  .offer h3 {
    font-size: 24px;
  }

  .offer__list {
    grid-template-columns: 1fr;
  }

  .offer__block svg {
    flex-shrink: 0;
  }
}

/* Contact */

.contact {
  margin-top: 3.5em;
  padding-bottom: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #185E9C;
  text-transform: uppercase;
  text-align: center;
}

.contact h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #0C0C0C;
  margin-top: 8px;
  text-align: center;
}

.contact__grid {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
}

.contact__option {
  display: flex;
  margin: 2em 0;
}

.contact__text {
  margin-left: 1em;
}

.contact__text span {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #101828;
}

.contact__text p {
  margin-top: 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #185E9C;
}

.contact__icon {
  background: #E0F2F0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
  .contact__grid {
    grid-template-columns: 1fr;
  }

  .contact__grid img {
    width: 100%;
  }

  .contact h3 {
    font-size: 24px;
  }

  .contact__option {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

/* Footer */

footer {
  height: 143px;
  background: #1D2939;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 10px;
  
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #98A2B3;
}

.footer__divider {
  background: #475467;
  width: 90%;
  height: 1px;
}

.footer__text .footer__divider {
  display: none;
}

.footer__dreampire {
  display: inline-flex;
  align-items: center;
}

.footer__dreampire img {
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .footer__divider {
    display: none;
  }
  .footer__text .footer__divider {
    display: block;
  }

  .footer__text {
    flex-direction: column;
    height: 100%;
    margin: 1em 0;
  }
}