
.rent__heading {
  font-family: 'Lato', sans-serif;
}

.rent__heading h3 {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #185E9C;
  text-align: center;
  text-transform: uppercase;
}

.rent__heading p {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  color: #0C0C0C;
  margin-bottom: 2em;
}

.rent__recent {
  margin: 2em;
}

.rent__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.rent-item {
  display: grid;
  grid-template-rows: 1fr 120px;

  background: #FFFFFF;
  box-shadow: 8px 10px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.rent-item img {
  border-radius: 16px 16px 0 0;
  width: 100%;
  object-fit: cover;
}

.rent-item__content {
  padding: 1.2em;
  font-family: 'Lato', sans-serif;
}

.rent-item__content p {
  margin: 0.5em 0;
}

.rent-item__when {
  display: flex;
  align-items: center;
}

.rent-item__when span {
  margin-left: 1em;
  color: #185E9C;
  font-weight: 400;
  font-size: 14px;
}

.rent__contact {
  margin: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rent__contact-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
}

.contact__text {
  margin-top: 2em;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__text span {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #101828;
}

.contact__text p {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #185E9C;
}

.contact__icon {
  background: #E0F2F0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .rent__list, .rent__contact-list {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}